<h1 class="mt-4 display-4 inner-fonts"><%= @article.title %></h1>
<%= link_to edit_article_path(@article), class: 'btn' do %>
  <i class="fa-solid fa-pencil"></i>
<% end %>
<%= link_to edit_article_path(@article), class: 'btn' do%>
  <i class="fa-solid fa-trash-can"></i>
<% end %>
<hr>
<p class="lead"><%= @article.content %></p>
<h3 class="display-6 inner-fonts"><%= @article.title * 3 %></h3>
<p class="lead"><%= @article.content * 4 %></p>

<h3 class="display-6 inner-fonts"><%= @article.title * 4 %></h3>
<p class="lead"><%= @article.content * 8 %></p>
